
<form novalidate  {{action "save" on="submit"}} class="add_ne">

  <div class="row">
    <div class="small-2 columns">
      <label for="">Name:</label>
    </div>

    <div class="small-10 columns">
      <label class={{if model.errors.name "is-invalid-label" ""}}>
        {{input type="text" class="form__input" placeholder="Name" value=model.name}}
        {{input-errors errors=model.errors.name}}
      </label>
    </div>
  </div>

  <div class="row">
    <div class="small-2 columns">
      <label for="">E-mail:</label>
    </div>

    <div class="small-10 columns">
      <label class={{if model.errors.email "is-invalid-label" ""}}>

        {{input type="text" class="form__input" placeholder="Name" value=model.email}}
        {{input-errors errors=model.errors.email}}
      </label>
    </div>
  </div>

  <div class="row">
    <div class="small-2 columns">
      <label for="">Name:</label>
    </div>

    <div class="small-10 columns">
      <label class={{if model.errors.kind "is-invalid-label" ""}}>
        {{input type="text" class="form__input" placeholder="Name" value=model.kind}}
        {{input-errors errors=model.errors.kind}}
      </label>
    </div>
  </div>

  <div class="row">
    <fieldset class="small-12 columns">
      <legend>Players</legend>
      {{#each model.players as |player|}}
        <div class="row">
          <div class="small-10 columns">
            <label class={{if player.errors.name "is-invalid-label" ""}}>
              {{input type="text" placeholder="Name" value=player.name action='addPlayer'}}
              {{input-errors errors=player.errors.name}}
            </label>
          </div>
          <div class="small-2 columns">
            <a class="button" onclick={{action 'removePlayer' player}}>-</a>
          </div>
        </div>
        {{#if (eq player model.players.lastObject)}}
          <a class="button" {{action 'addPlayer'}}>+</a>
        {{/if}}
      {{/each}}
    </fieldset>
  </div>

  <div class="row">
    <button class="large button index__btn">Start tournament</button>
  </div>

</form>
